### To quickly test the interface used by oracle_bot

In [1]:
import prepare_chain

In [2]:
query_engine, token_counter = prepare_chain.create_query_engine(verbose=True)

2024-01-04 15:27:39,616 - INFO - calling create_query_engine()...
2024-01-04 15:27:39,616 - INFO - using OCI cohere.embed-multilingual-v3.0 for embeddings...
2024-01-04 15:27:39,616 - INFO - using OCI as LLM...
2024-01-04 15:27:39,617 - INFO - using OCI_BAAI as reranker...
2024-01-04 15:27:39,701 - INFO - Using Oracle DB Vector Store...
2024-01-04 15:27:41,137 - INFO - Created OCI reranker client...
2024-01-04 15:27:41,137 - INFO - Region: eu-frankfurt-1...
2024-01-04 15:27:41,137 - INFO - Deployment id: ocid1.datasciencemodeldeployment.oc1.eu-frankfurt-1.amaaaaaangencdyaulxbosgii6yajt2jdsrrvfbequkxt3mepz675uk3ui3q...
2024-01-04 15:27:41,137 - INFO -
2024-01-04 15:27:41,179 - INFO -

In [3]:
response = query_engine.query(
    "List new features in Oracle Database 23c for JSON. Make a list. Limit to only 10 items."
)

2024-01-04 15:27:43,197 - INFO - Reranking...

In [11]:
def format_output(response):
    output = response.response

    if len(response.source_nodes) > 0:
        output += "\n\n Reference:\n"

        for node in response.source_nodes:
            output += str(node.metadata).replace("{", "").replace("}", "") + "\n"

    return output

In [12]:
print(format_output(response))

Certainly! Here is a list of ten new features in Oracle Database 23c that are related to JSON:

1. JSON Relational Duality: Data can be accessed and updated as either JSON documents or relational tables, providing developers with the benefits of both.

2. Native Database Support for JSON: Oracle Database offers native support for JSON data, including transactions, indexing, declarative querying, and views.

3. JSON and XML: Both JSON data and XML data can be stored, indexed, and queried in the database without any schema that defines the data.

4. JSON Querying: Oracle Database supports a range of JSON querying capabilities, such as querying JSON data using SQL and indexing JSON data for faster queries.

5. JSON Functions: Oracle Database includes a set of functions and operators for working with JSON data, such as extracting and manipulating JSON values.

6. JSON Views: Oracle Database allows you to create views that represent JSON data in a relational format, making it easier to work with and query the data.

7. JSON Indexing: Oracle Database supports indexing for JSON data, enabling faster queries and improving the performance of working with JSON.

8. JSON Functions in SQL: Oracle Database allows you to use SQL functions on JSON data, such as extracting JSON values or comparing JSON data.

9. JSON Support in PL/SQL: Oracle Database provides support for working with JSON data in PL/SQL, including functions and procedures for manipulating JSON values.

10. JSON Transactions: Oracle Database supports transactions for JSON data, ensuring the reliability and consistency of JSON data operations.

Please note that this list is limited to ten items and is not exhaustive. There are additional new features in Oracle Database 23c related to JSON and other aspects of the database.

Would you like to know more about any of these features?

 Reference:
'file_name': 'oracle-database-23c-new-features-guide.pdf', 'page_label': '1-1'
'file_name': 'oracle-database-23c-new-features-guide.pdf', 'page_label': '1'
'file_name': 'oracle-database-23c-new-features-guide.pdf', 'page_label': '2'
'file_name': 'database-concepts.pdf', 'page_label': '22-17'