In [1]:
import oracledb

In [2]:
DB_USER = "vector"
DB_PWD = "lilli1999"
DB_HOST_IP = "130.162.46.152"
DB_SERVICE = "freepdb1"

In [3]:
DSN = DB_HOST_IP + "/" + DB_SERVICE

In [10]:
def register_book(book_name, connection):
    with connection.cursor() as cursor:
        # get the new key
        query = "SELECT MAX(ID) FROM BOOKS"

        cursor.execute(query)

        # Fetch the result
        row = cursor.fetchone()

        if row[0] is not None:
            new_key = row[0] + 1
        else:
            new_key = 1

    # insert the record for the book
    with connection.cursor() as cursor:
        query = "INSERT INTO BOOKS (ID, NAME) VALUES (:1, :2)"

        # Execute the query with your values
        cursor.execute(query, [new_key, book_name])

    return new_key

In [11]:
with oracledb.connect(user=DB_USER, password=DB_PWD, dsn=DSN) as connection:
    register_book("prova", connection)
    connection.commit()

In [6]:
with oracledb.connect(user=DB_USER, password=DB_PWD, dsn=DSN) as connection:
    with connection.cursor() as cursor:
        # get the new key
        query = "SELECT MAX(ID) FROM BOOKS"

        cursor.execute(query)

        # Fetch the result
        row = cursor.fetchone()

In [9]:
row[0]